.tiptap * {
    font-weight: auto;
    margin: initial;
    padding: initial;
    font-size: auto;
}

.tiptap ul,
.tiptap ol,
.tiptap li {
    padding: initial;
    list-style-type: auto;
}

.tiptap li {
    margin-left: 1em;
}

/* Required by TipTap Placeholder extension to display placeholder text. */
.tiptap p.is-editor-empty:first-child::before {
    color: #9ca3af;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

[data-grow] {
    flex-grow: 1;
}

.editor-controls .select-list:not([data-mode="menu"]) {
    width: 100% !important;
}
